<div class="todo">
  <div style="flex: 1">
    <input
      (keyup.enter)="addToDo(input)"
      #input
      id="input"
      class="input"
      type="text"
      autofocus
      placeholder="Enter your next task..."
      [(ngModel)]="inputValue"
    >
  </div>
  <div style="margin-left: 1rem">
    <button
      (click)="addToDo(input)"
      kendoButton
      [svgIcon]="plusIcon"
      [togglable]="true"
      [themeColor]="'success'"
      [disabled]="inputValue.trim() === ''"
      [rounded]="'full'"
      type="submit"
      class="btn"
    >
      Add
    </button>
  </div>
</div>
