@import './src/styles/variables.scss';

.header-container {
  display: flex;
  justify-content: center;
  max-width: 25%;
  text-align: center;
  margin: 1.5rem auto;
  border-radius: 25px;
  background: $primary-color;
}
