@import './src/styles/variables.scss';

p {
  font-size: 18px;
  margin-bottom: 30px;
  color: #ffffff;
}

a {
  display: inline-block;
  padding: 10px 20px;
  background-color: #15344f;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  font-size: 18px;
  transition: background-color 0.2s ease;
}

a:hover {
  background-color: #0056b3;
}

h3 {
  margin: 0;
}

.welcome-page {
  position: relative;
  height: 100vh;
  background-color: $bg-color;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.welcome-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.welcome {
  color: #ffffff;
  font-size: 2rem;
  line-height: 3.7rem;
}

.action-buttons {
  display: flex;
  justify-content: center;
  gap: 20px;
}


