.list {
  flex: 2;
  font-weight: 600;
  align-self: center;
  text-align: left;
  margin-left: 0.5rem;
}

ul {
  display: flex;
  margin: 5px 0;
  padding: 0;
  list-style: none;
}

.completed {
  text-decoration: line-through;
  opacity: .4;
}

input[type="checkbox"] {
  margin: 0;
  width: 1rem;
  height: 1rem;
}

.todo-container {
  display: flex;
  align-items: center;
}

.todo-title {
  margin: 0 10px;
  color: gray;
}

.no-todos {
  color: #bc8043a3;
  font-size: 15px;
  font-weight: bold;
  margin: 20px 0 0 0;
}
