@import './src/styles/variables.scss';

.container {
  position: relative;
  margin: 2rem;
  padding: 20px;
  border-radius: 25px;
  background-color: $primary-color;
}

.no-todos {
  color: #ffffff;
  font-size: 13px;
  font-weight: bold;
  margin: 20px 0;
}

.archive-todos-container {
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.archive-todos-container.show {
  opacity: 1;
  animation: fadeIn 1s ease-in-out;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
