@import './src/styles/variables.scss';

h2 {
  margin: 10px 0;
}

.profile {
  max-width: 700px;
  margin: 3rem auto;
  padding: 20px;
  border-radius: 25px;
  background-color: $primary-color;
}

.info {
  text-align: center;
  margin-bottom: 20px;
  color: #333;
}

.edit-button {
  display: block;
  margin: 0 auto;
  padding: 10px 15px;
  background-color: #827B7B;
  color: #fff;
  border: none;
  border-radius: .4rem;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.3s ease;
}

.edit-button:hover {
  background-color: #5e5c5c;
}

.profile-container {
  max-width: 700px;
  margin: 1rem auto;
  padding: 20px;
  border-radius: 25px;
  background-color: $primary-color;
}

.profile-title {
  text-align: center;
  margin-bottom: 20px;
  color: #333;
}

.form-group {
  margin-bottom: 15px;
}

.form-label {
  text-align: center;
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

.form-input {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.form-error {
  color: red;
  font-size: 14px;
  margin-top: 5px;
}

.form-button:hover {
  background-color: #5e5c5c;;
}

.spinner {
  border: 4px solid #f3f3f3;
  border-top: 4px solid #3498db;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  animation: spin 1s linear infinite;
}

.spinner-container {
  display: grid;
  place-items: center;
  margin-top: 15px;
}

.three-btns {
  display: flex;
}

.success {
  color: white;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
