@import './src/styles/variables.scss';

.header-container {
  display: flex;
  justify-content: center;
  width: 40%;
  padding: .3rem;
  text-align: center;
  margin: 1.5rem auto;
  border-radius: 25px;
  background: $primary-color;
}

@media screen and (min-width: 900px) {
  .header-container {
    max-width: 30%;
  }
}

@media screen and (min-width: 1200px) {
  .header-container {
    max-width: 20%;
  }
}
