/* You can add global styles to this file, and also import other style files */

* {
  box-sizing: border-box;
}
body {
  background: #827b7b;
  margin: 0;
  padding: 0;
}

.warn-text {
  color: red;
}

.main-container {
  width: 500px;
  margin: auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #A09D98;
  margin-bottom: 1rem;
}
