@import './styles/variables.scss';

* {
  box-sizing: border-box;
}

body {
  background: $bg-color;
  margin: 0;
  padding: 0;
}

.warn-text {
  color: red;
}

.main-container {
  max-width: 700px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: $primary-color;
  margin: auto auto 1rem;
}
