.btn {
  background-color: transparent;
}

.input {
  width: 100%;
  padding: 7px;
  border: 1px solid #ccc;
  border-radius: 25px;
}

.todo {
  display: flex;
  margin-bottom: 5px;
  padding: 0 6px;
}
