.top-bar {
  display: flex;
  padding: .3rem;
  background-color: white;
  width: 90%;
  margin: 1rem auto 0;
  border-radius: 25px;
}

nav {
  flex: 1;
}

ul {
  margin: 0;
  padding: 0;
  display: flex;
}

li {
  list-style-type: none;
}

.profile-btn, .home-btn {
  margin-left: .6rem;
}

span[kendoButton]:hover {
  background-color: #292727;
  color: #ffffff !important;
}
