.top-bar {
  display: flex;
  padding: .3rem;
  margin-bottom: .5rem;
  background-color: #6B7280;
}

nav {
  flex: 1;
}

ul {
  margin: 0;
  padding: 0;
  display: flex;
}

li {
  list-style-type: none;
}

.profile-btn {
  margin-left: .6rem;
}

span[kendoButton]:hover {
  background-color: #5e5c5c;
  color: #ffffff;
}
